html {
    height: 100%;
    background-color: rgba(243, 136, 5, 0.187);
}

div .banner {
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%);

}

/* .mySlides {display: block}

/* Slideshow container */
.slideshow-container {
    width: 80%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    background: #8281818a;
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

.mySlides {
    display:flex;
    align-items: center;
    justify-content: center;
    padding:15px;
    gap:20px;
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

.cake-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:25px;
    width: 80%;
    background: #8281818a;
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
    border-radius: 4px;
    padding: 20px;
    margin: 80px auto;
} 

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-radius: 10px;
    padding:15px;
    box-shadow: 1px -1px 33px -11px rgba(0,0,0,1);
}

.cake-container .card img{
    width: 100%;
    border-radius: 10px;
}

.cake-container .card button
{
    background: #f9a826;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cake-container .card .cake-info{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.cake-container .card img:hover + .cake-info{
    display: flex;
}

.cake-container .cake-info:hover{
    display: flex;
} 

.go-up {
    position: fixed;
    bottom: 3%;
    right: 3%;
    font-size: 20px;
    background-color: #4a4953;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 20%;
}

.go-up:hover {
    background-color: #5a6268;
}

.display-none {
    display: none;

}

.display-block {
    display: block;
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.counter{
    color:rgb(255, 255, 255);
    font-size: 15px;
    background-color: #000000;
    padding: 5px;
    border-radius: 50%;
    
}

.cart-list{
    position: fixed;
    top: 8%;
    
    right: 0;
    font-size: 15px;
    color:#000000;
    width: 300px;
    height: 100%;
    background-color: rgba(243, 136, 5, 0.407);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 100;
}

.cart-list .items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
}

.cart-list .items .item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid #000000;
    padding: 10px 0;
}

.cart-list .items .item .item-image{
    width: 20%;
}

.cart-list .items .item .item-quantity{
    width: 10%;
    text-align: center;
}

.cart-list .items .item .remove-items{
    background: #fb8b29;
    padding: 10px;
    font-family: none;
    border-radius: 4px;
    cursor: pointer;
}

.cart-list .items .place-of-delivery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 5px;
}

.checkout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-btn{
    width: 100%;
    font-size: 18px;
    background: #ff7700;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}








